*.pdf
*.pyc
tmp*/*
tmp*.gz

# train/test data production and model related
dataset_*
model_results/*

# hls4ml outputs
firmware/*
weights/*
build_lib.sh
.tar.gz
hls4ml_config.yml
keras_model.h5
*.tcl
myproject*.cpp
compouts.csv